.ce-toolbox {
  @apply --overlay-pane;

  visibility: hidden;
  transition: opacity 100ms ease;
  will-change: opacity;
  width: 200px;
  max-height: 200px;
  overflow: hidden auto;

  @media (--mobile){
    position: static;
    transform: none !important;
    overflow-x: auto;
  }

  &--opened {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    display: flex;
    align-items: center;    
    color: var(--black-color);
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    cursor: pointer;

    &:hover,
    &--active {
      background-color: var(--bg-light);
    }

    & > svg {
      width: 20px;
      height: 20px;
    }

    & > span {
      margin-left: 16px;
    }
  }
}

.ce-toolbox-button-tooltip {
  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

/**
 * Styles for Narrow mode
 */
.codex-editor--narrow .ce-toolbox {
  @media (--not-mobile) {
    background: #fff;
    z-index: 2;
  }
}
